.main{
	width:100%;
	background-color: #ddd;
	display: flex;
	justify-content: center;
	text-align: center;
}
.left{
	width: 30%;
	border: 3px solid green;
	box-shadow: 3px 3px 3px white;
	margin: 1%;
	padding: 1%;
	background-color: lime;
}
.right{
	width: 30%;
	border: 3px solid blue;
	box-shadow: 3px 3px 3px black;
	margin: 1%;
	padding: 1%;
	background-color: yellow;
}
img{
	width:350px;
}
h1,
h2,
h3,{
	font-size: 33px;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
	.main{
		display: flex;
		flex-wrap: wrap;
	}
	.left{
		width: 100%
	}
}