.main{
	width:100%;
	background-color: #FFFACD;
	display: flex;
	justify-content: center;
	text-align: center;
}
.left{
	width: 30%;
	border: 3px solid green;
	box-shadow: 3px 3px 3px white;
	margin: 1%;
	padding: 1%;
	background-color: #C45E45;
}
.right{
	width: 50%;
	border: 3px solid blue;
	box-shadow: 3px 3px 3px white;
	margin: 1%;
	padding: 1%;
	background-color: #FFFACD;
}
img{
	width:180px;
	border-style: double;
	border-radius: 10px solid #000;
}
h1,
h2,
h3,{
	font-size: 33px;
}
@media only screen and (min-width: 426px) and (max-width: 760px){
	.main{
		display: flex;
		flex-wrap: wrap;
	}
	.left{
		width: 100%
	}
}
@media only screen and (min-width: 425px) and (max-width: 660px){
	.main{
		display: flex;
		flex-wrap: wrap;
	}
	.left{
		width: 95%
	}
}
.sset table,tr,td{
	border: 2px solid #000;
	border-collapse: collapse;
}










